@media (max-width: 1280px) {
  .tips {
    display: none !important;
  }
  .maincontainer{
    justify-content: flex-end !important;
  }
}

.maincontainer{
  display: flex;
  height: 20%; width: 100%;background-color:#EAEAEA; justify-content: space-between;flex-direction: row;
}

.tips{
  display: flex;
  align-items: center;
}

:host ::ng-deep .p-dropdown:hover {
    border-radius: 5px !important;
  }

  .custom-dropdown .ui-dropdown-panel {
    position: fixed !important;
    right: 0 !important;
    left: auto !important;
    transform: none !important;
  }
  
