<div style="display: flex; height: 100%;width: 100%;">

    <app-sidebar></app-sidebar>



    <div class="column-container">
        <app-topbar></app-topbar>
        <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>





        <form [formGroup]="requestForm">
            <div class="circular-div">
                <h2 class="title">Fiche requête</h2>
                <div style="padding: 0px 20px 0px 20px;justify-content: space-around;width: 100%;">
                    <div
                        style="display: flex; justify-content: space-between;width: 100%; max-height: 100%; padding-top: 10px;">
                        <div
                            style="display: flex;flex-direction: column;justify-content: space-between; width: 100%; max-height: 100%;">

                            <div style="display: flex;flex-direction: row;">

                                <span class="p-float-label" style="margin-top: 20px;margin-right: 21px;">

                                    <input type="text" pInputText formControlName="requestNumber" />
                                    <label htmlFor="username">N° requête</label>
                                </span>
                                <div style="display: flex;flex-direction: column;">
                                    <label for="date1" style="color: #495057;">Date de la requête</label>
                                    <p-calendar class="element custom-calendar" formControlName="dateOfRequest"
                                        [showIcon]="true"  [(ngModel)]="dateOfRequest"></p-calendar>
                                </div>
                            </div>
                            <p-divider align="left">
                                <div class="inline-flex align-items-center">
                                    <i class="pi pi-user mr-2"></i>
                                    <b> Demandeur</b>
                                </div>
                            </p-divider>
                            <br>

                            <div class="cp5"
                                style="flex-flow: row wrap;box-sizing: border-box;display: flex;place-content: center flex-start;flex: 1 1 100%;max-height: 100%;">
                                <div style="flex: 1 1 15%; box-sizing: border-box; max-width: 15%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="nni"
                                            (blur)="showValidationMessage('nni')" style="width: 100%;" />
                                        <label>NNI <span style="color: red;">*</span></label>
                                    </span>
                                    <br
                                        *ngIf="!(showErrorMessage('nni') && requestForm.get('nni')?.hasError('required'))">
                                    <small style="color: red; margin-bottom: 5px;"
                                        *ngIf="showErrorMessage('nni') && requestForm.get('nni')?.hasError('required')">Champ
                                        Obligatoire</small>
                                </div>
                                <div style="flex: 1 1 10%; box-sizing: border-box; max-width: 10%;">
                                    <p-dropdown formControlName="sexe" [options]="sexes" [(ngModel)]="sexe"
                                        [placeholder]="'Civilité'" (onChange)="onDropdownChangeSexe($event.value)"
                                        optionLabel="libelleFr" ></p-dropdown>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="lastName" style="width: 100%;" />
                                        <label htmlFor="username">Nom <span style="color: red;">*</span></label>
                                    </span>
                                    <br
                                        *ngIf="!(showErrorMessage('lastName') && requestForm.get('lastName')?.hasError('required'))">
                                    <small style="color: red; margin-bottom: 5px;"
                                        *ngIf="showErrorMessage('lastName') && requestForm.get('lastName')?.hasError('required')">Champ
                                        Obligatoire</small>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="name" style="width: 100%;" />
                                        <label htmlFor="username">Prénom <span style="color: red;">*</span></label>
                                    </span>
                                    <br
                                        *ngIf="!(showErrorMessage('name') && requestForm.get('name')?.hasError('required'))">
                                    <small style="color: red; margin-bottom: 5px;"
                                        *ngIf="showErrorMessage('name') && requestForm.get('name')?.hasError('required')">Champ
                                        Obligatoire</small>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <p-dropdown formControlName="type" class="form-dropdown" [options]="types"
                                        [(ngModel)]="type" styleClass="full-width"
                                        (onChange)="onDropdownChangeType($event.value)"
                                        optionLabel="libelleFr"></p-dropdown>

                                </div>
                            </div>
                            <div class="cp5"
                                style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center flex-start;flex: 1 1 100%; max-height: 100%;"
                                *ngIf="showExtraFields">
                                <div style="flex: 1 1 10%; box-sizing: border-box; max-width: 10%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="nniResp" style="width: 100%;" />
                                        <label htmlFor="username">NNI Responsable</label>
                                    </span>
                                </div>
                                <div style="flex: 1 1 15%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="rc" style="width: 100%;" />
                                        <label htmlFor="username">Registre Commerce</label>
                                    </span>
                                </div>

                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="nomResp" style="width: 100%;" />
                                        <label htmlFor="username">Nom Responsable</label>
                                    </span>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="prenomResp"
                                            style="width: 100%;" />
                                        <label htmlFor="username">Prénom Responsable</label>
                                    </span>
                                    <br>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="denomination"
                                            style="width: 100%;" />
                                        <label htmlFor="username">Dénomination</label>
                                    </span>
                                </div>
                            </div>
                            <div class="cp5"
                                style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center flex-start; flex: 1 1 100%; max-height: 100%;">
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <p-dropdown [placeholder]="'Wilaya'" [options]="wilayet" formControlName="wilaya"
                                        [(ngModel)]="wilaya" optionLabel="libelleFr" [filter]="true" filterBy="name"
                                        (onChange)="onDropdownChangeWilaya($event.value)"></p-dropdown>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <p-dropdown [placeholder]="'Moughataa'" formControlName="moughataa"
                                        [options]="moughataat" [(ngModel)]="moughataa" optionLabel="libelleFr"
                                        (onChange)="onDropdownChangeMoughataa($event.value)"></p-dropdown>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <p-dropdown [placeholder]="'Commune'" formControlName="commune" [options]="communes"
                                        [(ngModel)]="commune" optionLabel="libelleFr"></p-dropdown>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="adresse" style="width: 100%;" />
                                        <label htmlFor="username">Adresse</label>
                                    </span>
                                    <br>
                                </div>







                            </div>
                            <div class="cp5"
                                style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center flex-start; flex: 1 1 100%; max-height: 100%;">
                                <div style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%;">

                                    <span class="p-float-label">

                                        <input type="text" pInputText formControlName="adresseOfContact"
                                            style="width: 100%;" />
                                        <label htmlFor="username">Adresse de contact</label>
                                    </span>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="phoneNumber"
                                            style="width: 100%;" />
                                        <label htmlFor="username">N° Téléphone</label>
                                    </span>
                                </div>
                                <div style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                                    <span class="p-float-label">
                                        <input type="text" pInputText formControlName="email" style="width: 100%;" />
                                        <label htmlFor="username">E-mail</label>
                                    </span>
                                </div>
                            </div>

                            <p-divider align="left">
                                <div class="inline-flex align-items-center">
                                    <i class="pi pi-file-edit"></i>
                                    <b> Détail de la requête</b>
                                </div>
                            </p-divider>

                            <div style="width: 100%">
                                <br>
                                <span class="p-float-label">

                                    <input pInputText formControlName="object" style="width: 100%;" />
                                    <label htmlFor="username">Objet <span style="color: red;">*</span></label>
                                </span>
                                <div style="padding-bottom: 15px;">
                                    <br
                                        *ngIf="!(showErrorMessage('object') && requestForm.get('object')?.hasError('required'))">

                                    <small style="color: red; margin-bottom: 10px;"
                                        *ngIf="showErrorMessage('object') && requestForm.get('object')?.hasError('required')">Champ
                                        Obligatoiree</small>
                                </div>
                                <div class="card"
                                    style="border: 1px solid #ced4da !important;padding: 10px;border-color: black;border-width: 2px;border-radius: 5px;">
                                    <label htmlFor="username" style="color: #62676b;">Description<span
                                            style="color: red;">*</span></label>

                                    <p-editor formControlName="description" [style]="{ height: '320px' }"></p-editor>
                                    <small style="color: red; margin-bottom: 10px;"
                                        *ngIf="showErrorMessage('description') && requestForm.get('description')?.hasError('required')">Champ
                                        Obligatoiree</small>
                                </div>


                                <br
                                    *ngIf="!(showErrorMessage('description') && requestForm.get('description')?.hasError('required'))">
                                <small style="color: red; margin-bottom: 5px;"
                                    *ngIf="showErrorMessage('description') && requestForm.get('description')?.hasError('required')">Champ
                                    Obligatoire</small>
                                <div class="cp5"
                                    style="flex-flow: row wrap;box-sizing: border-box;display: flex;place-content: center flex-start;flex: 1 1 100%;max-height: 100%;">
                                    <div style="flex: 1 1 70%; box-sizing: border-box; max-width: 70%;">
                                        <p-multiSelect [(ngModel)]="selectedServices" [options]="services"
                            formControlName="selectedServices"
                            defaultLabel="Service public concerné"
                            optionLabel="desServFr" optionValue="id" [maxSelectedLabels]="2"
                            selectedItemsLabel="{0} items selected" [style]="{ 'width': '100%' }"></p-multiSelect>

                                    </div>
                                    <div style="flex: 1 1 30%; box-sizing: border-box; max-width: 30%;">
                                        <p-calendar formControlName="dateOfProblem" [showIcon]="true"
                                            [placeholder]="'Date d apparition du problème *'" [(ngModel)]="dateOfProblem"></p-calendar>
                                    </div>
                                </div>
                                <br>
                                <span class="p-float-label">
                                    <textarea id="float-input" rows="5" cols="30" pInputTextarea style="width: 100%;"
                                        formControlName="actionsEntreprises"></textarea>
                                    <label for="float-input">Actions Entreprises</label>
                                </span>








                            </div>
                        </div>
                    </div>
                </div>


                <div class="circular-div">
                    <div style="display: flex;align-items: center;">

                        <h2 class="title" style="display: flex;align-items: center;justify-content: space-between;">Document 
                            <div
                                style="align-items: center;">
                                <span class="ml-auto">
                                    <i class="pi pi-plus-circle clickable-icon"
                                        style="font-size: 1.5rem; margin-right: 24px;" (click)="openAddDialog()"></i>
                                    <i class="pi pi-file-export clickable-icon"
                                        style="font-size: 1.5rem; margin-right: 25px;"></i>
                                </span>
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" [(ngModel)]="filterValue" (input)="applyFilter()"
                                        placeholder="Filtrer parmi ces éléments ..." />
                                </span>
                            </div>
                        </h2>

                    </div>

                    <div class="card">

                        <p-table [value]="filteredRequests || requests" [paginator]="true" [rows]="5"
                            [rowsPerPageOptions]="[10,100,200,400,800]">


                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Entitled</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-request>
                                <tr>
                                    <td>{{ request.id }}</td>
                                    <td>{{ request.type }}</td>
                                    <td>{{ request.entitled }}</td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
<div style="justify-content: end;display: flex; padding: 20px;">
                <button style="background-color: #00a95c;width: min-content;" pButton pRipple
                    icon="pi pi-save" label="Enregistrer" [disabled]="requestForm.invalid" class="p-button-success"
                    (click)="updateRequerant()"></button></div>
            </div>

        </form>
    </div>



</div>


<p-dialog header="Header" [(visible)]="isAddVisible" [style]="{ width: '80vw',height:'80vh' }">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold" style="font-size: 20px;font-weight: 700;">Ajouter document</span>

    </ng-template>
    <br>
    <div class="dialog-container" style="display: flex;justify-content: start;">
        <span class="p-float-label">

            <input pInputText id="username" [(ngModel)]="documentNumber" class="input-field" />
            <label htmlFor="username">N° <span style="color: red;">*</span></label>
        </span>
        <p-dropdown [options]="documentTypes" [(ngModel)]="documentType" optionLabel="name" [filter]="true"
            filterBy="name" [showClear]="true" placeholder="Type">
        </p-dropdown>
        <span class="p-float-label">
            <input pInputText id="username" [(ngModel)]="documentEntitled" style="width: 48vw;margin-left: 15px;" />
            <label htmlFor="username">Intitulé <span style="color: red;">*</span></label>
        </span>
    </div>
    <div>
        <span class="p-float-label">
            <textarea [autoResize]="false" id="float-input" rows="10" cols="3azdza0" pInputTextarea
                style="width: 100%;"></textarea>
            <label for="float-input">Summary <span style="color: red;">*</span></label>
        </span>

    </div>

    <div class="circular-div"
        style="width: 90%;display: flex;flex-direction: column;box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);padding: 10px 10px 50px 10px;">
        <div class="green-container">
            <h2>Pièces jointes</h2>
            <div style="align-items: center;">
                <span class="ml-auto">
                    <i class="pi pi-plus-circle clickable-icon" style="font-size: 1.5rem; margin-right: 23px;"
                        (click)="openAddDialog()"></i>
                </span>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="filterValue" (input)="applyFilter()"
                        placeholder="Search keyword" />
                </span>
            </div>
        </div>
        <div class="card">
            <p-table [value]="filteredRequests || requests" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,100,200,400,800]">


                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 90%;">Nom fichier</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-request>
                    <tr>
                        <td>{{ request.type }}</td>
                        <td><i class="pi pi-download clickable-icon" style="color: green;"></i><i
                                class="pi pi-times clickable-icon" style="color: red;"></i></td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-save" (click)="addRequest()" label="Enregistrer" styleClass="p-button-success"></p-button>
        <p-button icon="pi pi-times" (click)="isAddVisible = false" label="Annuler"
            styleClass="p-button-danger"></p-button>


    </ng-template>
</p-dialog>