.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
  
  .sidebar {
    height: 120vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 30%;
    position: relative;
    top: 0;
    left: 0;
  }
  
  
  .img-sidebar {
    background-color: #727272;
    font-weight: 700;
  }
  
  .mainframe {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .centered-div {
    width: 80%;
    height: 20%;
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 165, 82);
    font-size: 30px;
    position: fixed;
    top: 10%;
    background-color: #FAFAFA;
    text-align: center;
  }
  
  
  .img-sidebar {
    background-color: #727272;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .vertical {
    color: #000;
    display: flex;
    flex-direction: column;
  }
  
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  ::ng-deep .form-dropdown {
    font-weight: 600;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .button-container p-button:not(:last-child) {
    margin-right: 10px; /* Adjust the margin value as per your preference */
  }
  
  .error label {
    color: red;
  }
  
  .error input {
    border-color: red;
  }
  
  
  .clickable-icon {
    cursor: pointer;
  }
  
  
  .element-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  
  
  .transparent-dropdown .p-dropdown-trigger {
    background-color: transparent !important;
  }
  
  .column-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .circular-div {
    border-radius: 15px;
    background: white;
    width: 99%;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }
  
  
  .element {
    margin-right: 10px;
  }
  
  .title {
    background-color: #0b693a;
    /* Adjust the background color of the title */
    color: #fff;
    text-align: left;
    margin-bottom: auto;
    padding: 10px;
    padding-left: 30px;
    font-size: 18px;
    width: 100%;
    position: relative;
    top: -14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 0;
    right: 0;
  
  }

  
  
  .dialog-container {
    display: flex;
    width: 100%;
  }
  
  .input-field {
    flex: 1;
    margin-right: 20px;
  }
  
  .bigger-flex {
    flex: 2;
  }
  
  .cp5 {
    padding: -5px !important;
  }
  
  .cp5>* {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  
  :host ::ng-deep .p-dropdown {
    width: 100%;
    border: 1px solid #ced4da !important;
  
  }
  
  
  :host ::ng-deep .p-dropdown:hover {
    width: 100%;
    border: 1px solid green !important;
  
  }
  
  :host ::ng-deep .p-multiSelect {
    width: 100%;
    border: 1px solid #ced4da !important;
  
  }
  
  :host ::ng-deep .p-calendar {
    width: 100%;
  
  }
  
  .full-width-multiselect .p-multiselect-trigger {
    width: 100%;
  }
  
  .full-width-multiselect .p-multiselect-label-container {
    width: 100%;
  }
  