.sidebar {
  display: block;
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  left: 0;
  
}

.isSidebarVisible {
  display: block;
  background-color: white;
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed; /* Change 'absolute' to 'fixed' */
  top: 0;
  left: 0;
  z-index: 9999; /* Add a higher z-index value to ensure it appears on top */
}


.img-sidebar {
  background-color: #727272;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.drawer-button {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  margin: 5px;
}

@media (max-width: 640px) {
  .sidebar {
    display: none;
  }

  .drawer-button {
    display: block !important;
  }
}
